{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        .login-logo {
            background-image:  url('/logo.jpg');
            background-size:   450px;
            background-repeat: no-repeat;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hello</h1>
        {% if message %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-4 login-logo">
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="loginTabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="loginTab" href="#login" role="tab" aria-selected="true"
                                   aria-controls="login">{% trans %}Login{% endtrans %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="registerTab" href="#register" role="tab" aria-selected="false"
                                   aria-controls="register">{% trans %}Register{% endtrans %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active fade show" id="login" role="tabpanel"
                                 aria-labelledby="loginTab">
                                <div class="row">
                                    <div class="col-md">
                                        {{ form(login_form) }}
                                    </div>
                                    <div class="col-md">
                                        <a href="{{ google_uri }}" class="btn btn-primary"><i class="fa fa-google"></i></a>
                                        <a href="{{ facebook_uri }}" class="btn btn-primary"><i class="fa fa-facebook"></i></a>
                                        <a href="{{ github_uri }}" class="btn btn-primary"><i class="fa fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="registerTab">
                                <div class="row">
                                    <div class="col-md">
                                        {{ form(registration_form) }}
                                    </div>
                                    <div class="col-md">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#loginTabs a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })

        function signInCallback (authResult) {
            if (authResult['code']) {

                // Hide the sign-in button now that the user is authorized, for example:
                $('#signinButton').attr('style', 'display: none');

                var verifier = '59d2711c008e7f7490e02bcaa1bc405f63699ab8ab86b6ff';
                $.post('/google/redirect?grant_type=authorization_code&client_id=untrusted&code=' + authResult['code'] +
                       '&code_challenge=' + verifier, {
                    // grant_type: 'authorization_code',
                    // client_id: 'untrusted',
                    //redirect_uri: 'http://localhost/google/redirect',
                }, function (result) {
                    console.log(result);
                });
                // $.ajax({
                //     type: 'POST',
                //     url: '/google',
                //     // Always include an `X-Requested-With` header in every AJAX request,
                //     // to protect against CSRF attacks.
                //     headers: {
                //         'X-Requested-With': 'XMLHttpRequest'
                //     },
                //     success: function(result) {
                //         console.log(result);
                //         // Handle or verify the server response.
                //     },
                //     //processData: false,
                //     data: {
                //         grant_type: 'authorization_code',
                //         client_id: '935076747503-9sl5du15fs0he2hgt8ejk1458l1jjqcg.apps.googleusercontent.com',
                //         code: authResult['code']
                //     }
                // });
            } else {
                // There was an error.
            }
        }

        function start () {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '935076747503-9sl5du15fs0he2hgt8ejk1458l1jjqcg.apps.googleusercontent.com',
                    redirect_uri: 'http://localhost/google/redirect'
                    // Scopes to request in addition to 'profile' and 'email'
                    //scope: 'core'
                });

                $('#signinButton').click(function () {
                    // signInCallback defined in step 6.
                    auth2.grantOfflineAccess().then(signInCallback);
                });
            });
        }
    </script>
{% endblock %}
