{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Hello</h1>
        <span class="alert-danger">
                {{ code }}
            </span>
    </div>
{% endblock %}
